@model DatasetView

<div class="container">
    <section>
        <div style="box-shadow: 5px 10px 8px #888888;">
            <fieldset name="dataSources" disabled>
                <legend>
                    <label style="font-weight: bold">@Model!.SelectedDataSet!.Name</label>
                </legend>
                <p><label>Description: @Model.SelectedDataSet.Description</label></p>
                <p><label>Type:  @Model.SelectedDataSet.Type</label></p>
                <p><label>Timeout: @Model.SelectedDataSet.QueryExecutionTimeOut</label></p>
                <p><label>Definition: @Model.SelectedDataSet.Content</label></p>
            </fieldset>
            <div style="font-size:8pt">
                <br />
                Created by @Model.SelectedDataSet.CreatedBy on @Convert.ToDateTime(@Model.SelectedDataSet.CreatedDate).ToShortDateString() at @Convert.ToDateTime(@Model.SelectedDataSet.CreatedDate).ToLongTimeString()
                <br />
                Changed by @Model.SelectedDataSet.ModifiedBy on @Convert.ToDateTime(@Model.SelectedDataSet.CreatedDate).ToShortDateString() at @Convert.ToDateTime(@Model.SelectedDataSet.ModifiedDate).ToLongTimeString()
                <br />
            </div>
        </div>
    </section>
</div>
