@model DatasetsView
@* <h4>&nbsp;Datasets.</h4> *@

&nbsp;
<div class="container">
    <section>
        @foreach (var dataset in Model.Datasets)
        {
            <div id=@("dialog" + dataset.Id) class="dialog" style="display: none">
            </div>
            <div class="bg-dark" style="box-shadow: 2.5px 5px 4px #888888;">
                <span id="@dataset.Id" class="nav_link" style="float:right" onclick="asyncManageResourceModal('@dataset.Id');">
                    <a href="#">
                        ...
                    </a>
                </span><a href="@dataset.Uri" class="nav_link" @Model.OpenInLinksNewTab ? "target=_blank"><i class="bx bx-table"></i><span class="nav_name">@dataset.Name</span></a>
            </div>
        }
    </section>
</div>