@model DataSourceView

<div class="container">
    <section>
        <div style="box-shadow: 5px 10px 8px #888888;">
            <fieldset name="dataSources" disabled>
                <legend>
                    <label style="font-weight: bold">@Model.SelectedDataSource.Name</label>
                </legend>
                <p><label>Description: @Model.SelectedDataSource.Description</label></p>
                <p><label>Type:  @Model.SelectedDataSource.Type</label></p>
                <p><label>Connection string: @Model.SelectedDataSource.ConnectionString</label></p>
                <p><label>Definition: @Model.SelectedDataSource.Content</label></p>
            </fieldset>
            <div style="font-size:8pt">
                <br />
                Created by @Model.SelectedDataSource.CreatedBy on @Convert.ToDateTime(@Model.SelectedDataSource.CreatedDate).ToShortDateString() at @Convert.ToDateTime(@Model.SelectedDataSource.CreatedDate).ToLongTimeString()
                <br />
                Changed by @Model.SelectedDataSource.ModifiedBy on @Convert.ToDateTime(@Model.SelectedDataSource.CreatedDate).ToShortDateString() at @Convert.ToDateTime(@Model.SelectedDataSource.ModifiedDate).ToLongTimeString()
                <br />
            </div>
        </div>
    </section>
</div>
