@using ReportingServices.Api.Models
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model Subscription

<div style="background-color:#ffffff; font-size:11pt">
    <span style="font-size:14pt; font-weight:bold">@Model.Description</span><br />
    <a href=@Url.Action("Subscription", "Subscriptions", new { id = @Model.Id }) target="_blank">Open</a><br />
    @* <a href="#" onclick="createSubscription('@Model.Id', 'Subscription created')">Clone Subscription</a><br /> *@
    @if (@Configuration["ReportServerName"] == "localhost")
    {
        <a href="#" onclick="confirmDeleteSubscription('@Model.Id', 'Subscription deleted')">Delete</a>
        <br />
    }
    <a href=@Url.Action("Manage", "Subscriptions", new { id = @Model.Id }) style="pointer-events: none; color: gray" target="_blank">Manage</a><br />
    <br />
    <div style="font-size:7pt">
        Changed by @Model.ModifiedBy on @Convert.ToDateTime(@Model.ModifiedDate).ToShortDateString() at @Convert.ToDateTime(@Model.ModifiedDate).ToLongTimeString()<br />
    </div>
</div>
