@model SubscriptionView

<div class="container">
    <section>
        @if (1 == 1)
        {
            <div style="box-shadow: 5px 10px 8px #888888;">
                <h5>SCHEDULE</h5>
                <fieldset name="schedule">
                    <p>
                        <label style="font-size:10pt">Description:</label><br />
                        @Html.TextBoxFor(x => x.Subscription.Description)
                    </p>
                    <p>
                        <label style="font-size:10pt">Report:</label><br />
                        @Html.DropDownListFor(x => x.SelectedReport, new SelectList(Model.Reports, "Path", "Name"), "--Select--")
                    </p>
                    <p>
                        <label style="font-size:10pt">Days:</label><br />
                        @Html.TextBoxFor(x => x.Subscription.Schedule.Definition.Recurrence.DailyRecurrence.DaysInterval)
                    </p>
                    <p>
                        <label style="font-size:10pt">Minutes:</label><br />
                        @Html.TextBoxFor(x => x.Subscription.Schedule.Definition.Recurrence.MinuteRecurrence.MinutesInterval)
                    <p>
                    <p>
                        <label style="font-size:10pt">Weeks:</label><br />
                         @Html.TextBoxFor(x => x.Subscription.Schedule.Definition.Recurrence.WeeklyRecurrence.WeeksInterval)
                    </p>
                </fieldset>

                <h5>DELIVERY</h5>
                <fieldset name="delivery">
                    <p>
                        <label style="font-size:10pt">Email:</label><br />
                        @Html.TextBoxFor(x => x.ToEmailAddress)
                    </p>
                    <p>
                        <label style="font-size:10pt">Format:</label><br />
                        @Html.DropDownListFor(x => x.RenderFormat, new SelectList(Model.Reports, "Path", "Name"), "--Select--")
                    </p>
                    <p>
                        <label style="font-size:10pt">Subject:</label><br />
                        @Html.TextBoxFor(x => x.Subject)
                    </p>
                    <p>
                        <label style="font-size:10pt">Priority:</label><br />
                        @Html.DropDownListFor(x => x.RenderFormat, new SelectList(Model.Reports, "Path", "Name"), "--Select--")
                    </p>
                </fieldset>


                <div id="parameters">
                <fieldset name="parameterFields" disabled>

                </fieldset>
                </div>

                <div style="font-size:8pt">
                    <br />
                    Created by @Model.Subscription.Owner on @Convert.ToDateTime(@Model.Subscription.ModifiedDate).ToShortDateString() at @Convert.ToDateTime(@Model.Subscription.ModifiedDate).ToLongTimeString()
                    <br />
                    Changed by @Model.Subscription.ModifiedBy on @Convert.ToDateTime(@Model.Subscription.ModifiedDate).ToShortDateString() at @Convert.ToDateTime(@Model.Subscription.ModifiedDate).ToLongTimeString()
                    <br />
                </div>
            </div>
        }
        else
        {
            <div>
                <fieldset name="main">
                    <p><label>Start: @Model.Subscription.Description</label></p>
                    <p><label>End:  @Model.Subscription.EventType</label></p>
                    <p><label>Report: @Model.Subscription.Report</label></p>
                    <p><label>DeliveryExtension: @Model.Subscription.DeliveryExtension</label></p>

                    <label style="font-weight: bold">@Model.Subscription.Description - @Model.Subscription.LastStatus</label>

                </fieldset>
            </div>
        }
    </section>
</div>
