@model SubscriptionView

<div class="container">
    <section>
        @if (1 == 1)
        {
            <div style="box-shadow: 5px 10px 8px #888888;">

            <fieldset name="main">
                <p><label>Start: @Model.Subscription.Description</label></p>
                <p><label>End:  @Model.Subscription.EventType</label></p>
                <p><label>Report: @Model.Subscription.Report</label></p>
                <p><label>DeliveryExtension: @Model.Subscription.DeliveryExtension</label></p>
            </fieldset>

            <fieldset name="schedule">
                    <legend>
                        <label style="font-weight: bold">@Model.Subscription.Description - @Model.Subscription.LastStatus</label>
                    </legend>
                    <p><label>Description: </label>@Model.Subscription.Description</p>
                    <p>
                        <label>
                            Schedule: @Html.DropDownListFor(x => x.Subscription.Schedule.Definition.Recurrence, new SelectList(Model.Reports, "Path", "Name"), "selected")
                        </label>
                    </p>
            </fieldset>

            <fieldset name="delivery">
            </fieldset>
  
            <fieldset name="parameters" disabled>
            </fieldset>

            <div style="font-size:8pt">
                <br />
                Created by @Model.Subscription.Owner on @Convert.ToDateTime(@Model.Subscription.ModifiedDate).ToShortDateString() at @Convert.ToDateTime(@Model.Subscription.ModifiedDate).ToLongTimeString()
                <br />
                Changed by @Model.Subscription.ModifiedBy on @Convert.ToDateTime(@Model.Subscription.ModifiedDate).ToShortDateString() at @Convert.ToDateTime(@Model.Subscription.ModifiedDate).ToLongTimeString()
                <br />
            </div>
            </div>
        }
        else
        {
            <div>

            </div>
        }
    </section>
</div>
