@using Sonrai.ExtRS.Models.Enums

@model SubscriptionView
<script>
    $(document).ready(function () {
        // Hyperform validation
        hyperform.addValidator(
            document.getElementById('endDate'),
            function (element) {
                var valid = !document.getElementById('endDateSpecified').checked ||
                    element.value;
                element.setCustomValidity(
                    valid ?
                        '' :
                        'Please enter an end date.'
                );
                return valid;
            }
        );
        document.getElementById('endDateSpecified').addEventListener('submit', function () {
            document.getElementById('endDate').reportValidity();
        });
        hyperform(window);

        var ele = $('#recurrenceTypes')[0];

        // initialize recurrence
        changeRecurrenceDiv(ele, '@Model.SelectedRecurrence');
        $(function () {
            $("#startDateTime").datepicker();
            $("#endDate").datepicker();
        });

        $(function () {
            $('.endDateCheck').change(function () {
                $('#endDate').toggle(this.checked);
            }).change();
        });

        $(function () {
            $('input,textarea,select').focusin(function () {
                $(this).addClass('borderBlink');
            });
            // $('input').focus(function (e) {
            //     alert('!aa');
            //     $(e).addClass('borderBlink')
            // })
        });

        console.log("DOM ready");
    });
</script>
<style>
    .scheduleTitleLabel {
        color: lightblue;
    }
</style>

<script>
    // Recurrence selection show/hide
    function changeRecurrenceDiv(ele, scheduleType) {
        for (let i = 1; i < 6; i++) {
            if (i == indexMatchingText(ele, scheduleType)) {
                $('#recurrenceContainer' + i).show()
                $('#recurrenceContainer' + i).css('max-height: 100;')
            }
            else {
                $('#recurrenceContainer' + i).hide()
                $('#recurrenceContainer' + i).css('max-height: 0;')
            }
        }
    }

    function indexMatchingText(ele, text) {
        for (var i = 0; i < ele.length; i++) {
            if (ele[i].childNodes[0].nodeValue === text) {
                return i;
            }
        }
        return undefined;
    }

    function onlyOne(checkbox) {
        var checkboxes = document.getElementsByName('check')
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked = false
        })
    }

    function check(input) {
        var checkboxes = document.getElementsByClassName("radioCheck");

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked == true) {
                checkboxes[i].checked = false;
            }
        }

        if (input.checked == true) {
            input.checked = false;
        }
        else {
            input.checked = true;
        }
    }

</script>

@using (Html.BeginForm("PostSubscription", "Subscriptions", FormMethod.Post))
{
    <div class="container">
        @Html.HiddenFor(x => x.Subscription!.EventType)
        @Html.HiddenFor(x => x.Subscription!.DeliveryExtension)
        @Html.HiddenFor(x => x.Subscription!.LocalizedDeliveryExtensionName)
        @Html.HiddenFor(x => x.Subscription!.IsActive)
        @Html.HiddenFor(x => x.Subscription!.IsDataDriven)
        @Html.HiddenFor(x => x.Subscription!.Owner)
        <script>hyperform(window);</script>
        <section>
            <h5>SUBSCRIPTION DETAILS</h5>
            <div style="box-shadow: 5px 10px 8px #888888;">
                <fieldset name="schedule">
                    <p>
                        <label style="font-size:10pt">Description:</label><br />
                        @Html.TextBoxFor(x => x.Subscription!.Description, new { @required = "required", @class = "bg-dark text-white" })
                    </p>
                    <p>
                        <label style="font-size:10pt">Report:</label><br />
                        @if (Model.Subscription!.Id == null)
                        {
                            @Html.DropDownListFor(x => x.Subscription!.Report, new SelectList(Model.Reports, "Path", "Name"), "--Select--", new { @required = "required", @class = "bg-dark text-white" })
                        }
                        else
                        {
                            @Html.Label(Model.Subscription!.Report)                           
                            @Html.HiddenFor(x => x.Subscription!.Report)
                        }
                    </p>
                </fieldset>
                <br />
                <br />
                <h5>SCHEDULE</h5>
                <fieldset name="schedule">
                    @Html.DropDownListFor(x => x.SelectedRecurrence, new SelectList(Model.RecurrenceTypes), "--Select--", new { onchange = "changeRecurrenceDiv(this, this.value)", @id = "recurrenceTypes", @class = "bg-dark text-white" })
                    <br />
                    <br />
                    <div style="height:11%">
                        <div id="recurrenceContainer1" style="display:none; max-height: 0;">
                            <b class="scheduleTitleLabel;">Hourly schedule</b>
                            <fieldset>
                                Run the scedule every:
                                @Html.HiddenFor(x => x.Subscription.Schedule.Definition.Recurrence.MinuteRecurrence.MinutesInterval)
                                @Html.TextBoxFor(x => x.RecurrenceHours, new { @maxlength = "2", @style = "width:30px", @class = "bg-dark text-white" }) hours &nbsp; @Html.TextBoxFor(x => x.RecurrenceMinutes, new { @maxlength = "2", @style = "width:30px", @class = "bg-dark text-white" }) minutes
                            </fieldset>
                        </div>
                        <div id="recurrenceContainer2" style="display:none; max-height: 0;">
                            <b class="scheduleTitleLabel;">Daily schedule</b>
                            <fieldset>
                                <div>
                                    <label for="repeatAfterDays">Repeat after this number of days:</label> @Html.TextBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.DailyRecurrence.DaysInterval, new { @maxlength = "3", @style = "width:40px", @class = "bg-dark text-white" })
                                </div>
                            </fieldset>
                        </div>
                        <div id="recurrenceContainer3" style="display: none; max-height: 0;">
                            <b class="scheduleTitleLabel;">Weekly schedule</b>
                            <fieldset>
                                <div id="weeklyRecurrenceContainer">
                                    Repeat after this number of weeks: @Html.TextBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.WeeklyRecurrence.WeeksInterval, new { @maxlength = "2", @style = "width:30px", @class = "bg-dark text-white" })
                                    <br />
@*                                     <input type="radio" id="indWeekdays" name="dailyRecurr" value="indWeekdays" checked /> *@
                                    <label for="indWeekdays">On the following days:</label>
                                    @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.WeeklyRecurrence.DaysOfWeek.Sunday) Sun
                                    @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.WeeklyRecurrence.DaysOfWeek.Monday) Mon
                                    @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.WeeklyRecurrence.DaysOfWeek.Tuesday) Tue
                                    @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.WeeklyRecurrence.DaysOfWeek.Wednesday) Wed
                                    @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.WeeklyRecurrence.DaysOfWeek.Thursday) Thu
                                    @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.WeeklyRecurrence.DaysOfWeek.Friday) Fri
                                    @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.WeeklyRecurrence.DaysOfWeek.Saturday) Sat
                                    <br />
@*                                     <input type="radio" id="everyWeekDay" name="dailyRecurr" value="everyWeekDay" />
                                    <label for="everyWeekDay">Every</label>
                                    Weekday @Html.CheckBoxFor(x => x.ScheduleRecurrenceIsEveryWeekday)
                                    Weekend @Html.CheckBoxFor(x => x.ScheduleRecurrenceIsEveryWeekend) *@
                                </div>
                            </fieldset>
                        </div>
                        <div id="recurrenceContainer4" style="display: none;max-height: 0;">
                            <fieldset>
                                <b class="scheduleTitleLabel;">Monthly schedule</b>
                                <br />
                                Months:
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyRecurrence.MonthsOfYear.January) Jan
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyRecurrence.MonthsOfYear.February) Feb
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyRecurrence.MonthsOfYear.March) Mar
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyRecurrence.MonthsOfYear.April) Apr
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyRecurrence.MonthsOfYear.May) May
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyRecurrence.MonthsOfYear.June) Jun
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyRecurrence.MonthsOfYear.July) Jul
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyRecurrence.MonthsOfYear.August) Aug
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyRecurrence.MonthsOfYear.September) Sep
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyRecurrence.MonthsOfYear.October) Oct
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyRecurrence.MonthsOfYear.November) Nov
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyRecurrence.MonthsOfYear.December) Dec
                                <br />
@*                                 On day(s) of the week:
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyDOWRecurrence.DaysOfWeek.Sunday) Sun
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyDOWRecurrence.DaysOfWeek.Monday) Mon
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyDOWRecurrence.DaysOfWeek.Tuesday) Tue
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyDOWRecurrence.DaysOfWeek.Wednesday) Wed
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyDOWRecurrence.DaysOfWeek.Thursday) Thu
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyDOWRecurrence.DaysOfWeek.Friday) Fri
                                @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyDOWRecurrence.DaysOfWeek.Saturday) Sat
                                <br /> *@
                                On calendar day(s): @Html.TextBoxFor(x => x.Subscription!.Schedule.Definition.Recurrence.MonthlyRecurrence.Days, new { @maxlength = "150", @style = "width:150px", @class = "bg-dark text-white" })
                            </fieldset>
                        </div>
                        <div id="recurrenceContainer5" style="display: none; max-height: 0;">
                            <b class="scheduleTitleLabel;">One-time schedule</b><br />
                            Schedule runs only once.<br />
                        </div>
                    </div>
                    <br />
                    <p style="font-size:8pt">
                        Choose whether to run the report on an hourly, daily, weekly, monthly, or one time basis.<br />
                        All times are expressed in @TimeZoneInfo.Local.
                    </p>
                    <p>
                        <label style="font-size:10pt">Begin running this schedule on:</label><br />
                        @Html.TextBoxFor(x => x.Subscription!.Schedule.Definition.StartDateTime, "{0:MM/dd/yyyy}", new { @style = "width:100px", @id = "startDateTime", @class = "input-small bg-dark text-white", @required = "required" })
                    </p>
                    <label style="font-size:10pt">at:</label>
                    <br />
                    @Html.DropDownListFor(x => x.ScheduleStartHours, new SelectList(new List<string> { "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12" }), new { @required = "required" }) : @Html.DropDownListFor(x => x.ScheduleStartMinutes, new SelectList(new List<string> { "00", "15", "30", "45" }), new { @required = "required" }) @Html.CheckBoxFor(x => x.IsAM, new { @id = "isAM", @class = "radioCheck", @onclick = "check(this)" }) AM / @Html.CheckBoxFor(x => x.IsPM, new { @id = "isPM", @class = "radioCheck", @onclick = "check(this)" }) PM
                    <br />
                    <br />
                    <p>
                        @Html.CheckBoxFor(x => x.Subscription!.Schedule.Definition.EndDateSpecified, new { @id = "endDateSpecified", @class = "endDateCheck" }) <label style="font-size:10pt">Stop this schedule on:</label><br />
                        @Html.TextBoxFor(x => x.Subscription!.Schedule.Definition.EndDate, "{0:MM/dd/yyyy}", new { @id = "endDate", @class = "input-small", @style = "width:100px; display:none" })
                    <p>
                </fieldset>
                <br />
                <br />
                <h5>DELIVERY (email)</h5>
                @if(Model.Subscription.ExtensionSettings.ParameterValues.Count() != 10)
                {
                   <div>(admin subscription)</div>
                }
                else
                {
                <fieldset name="delivery">
                    <p>
                        <label style="font-size:10pt">To:</label><br />
                        @Html.HiddenFor(x => x.Subscription!.ExtensionSettings.ParameterValues[0].Name)
                        @Html.TextBoxFor(x => x.Subscription!.ExtensionSettings.ParameterValues[0].Value, new { @required = "required", @class = "bg-dark text-white" })
                    </p>
                    <p>
                        <label style="font-size:10pt">Cc:</label><br />
                        @Html.HiddenFor(x => x.Subscription!.ExtensionSettings.ParameterValues[1].Name)
                        @Html.TextBoxFor(x => x.Subscription!.ExtensionSettings.ParameterValues[1].Value, new {  @class = "bg-dark text-white" })
                    </p>
                    <p>
                        <label style="font-size:10pt">Bcc:</label><br />
                        @Html.HiddenFor(x => x.Subscription!.ExtensionSettings.ParameterValues[2].Name)
                        @Html.TextBoxFor(x => x.Subscription!.ExtensionSettings.ParameterValues[2].Value, new { @class = "bg-dark text-white" })
                    </p>
                    <p>
                        <label style="font-size:10pt">Reply to:</label><br />
                        @Html.HiddenFor(x => x.Subscription!.ExtensionSettings.ParameterValues[3].Name)
                        @Html.TextBoxFor(x => x.Subscription!.ExtensionSettings.ParameterValues[3].Value, new { @class = "bg-dark text-white" })
                    </p>
                    <p style="font-size:8pt;">(Use (;) to separate multiple e-mail addresses.)</p>
                    <p>
                        <label style="font-size:10pt">Subject:</label><br />
                        @Html.HiddenFor(x => x.Subscription!.ExtensionSettings.ParameterValues[4].Name)
                        @Html.TextBoxFor(x => x.Subscription!.ExtensionSettings.ParameterValues[4].Value, new { @required = "required", @class = "bg-dark text-white" })
                    </p>
                    <p>
                        <label style="font-size:10pt">Render Format:</label><br />
                        @Html.HiddenFor(x => x.Subscription!.ExtensionSettings.ParameterValues[5].Name)
                        @Html.DropDownListFor(x => x.Subscription!.ExtensionSettings.ParameterValues[5].Value,
                                 Enum.GetValues(typeof(RenderFormats)).Cast<RenderFormats>()
                                     .Select(x => new SelectListItem { Text = EnumExtensions.GetEnumDescription(x), Value = x.ToString() }))
                    </p>
                    <p>
                        <label style="font-size:10pt">Include Report:</label><br />
                        @Html.HiddenFor(x => x.Subscription!.ExtensionSettings.ParameterValues[6].Name, new { @class = "bg-dark text-white" })
                        @Html.CheckBoxFor(x => x.IncludeReport)
                    </p>
                    <p>
                        <label style="font-size:10pt">Include Link:</label><br />
                        @Html.HiddenFor(x => x.Subscription!.ExtensionSettings.ParameterValues[7].Name, new { @class = "bg-dark text-white" })
                        @Html.CheckBoxFor(x => x.IncludeLink)
                    </p>
                    <p>
                        <label style="font-size:10pt">Priority:</label><br />
                        @Html.HiddenFor(x => x.Subscription!.ExtensionSettings.ParameterValues[8].Name, new { @class = "bg-dark text-white" })
                        @Html.DropDownListFor(x => x.Subscription!.ExtensionSettings.ParameterValues[8].Value,
                                 Enum.GetValues(typeof(EmailPriority)).Cast<EmailPriority>()
                                 .Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString() }), "--Select--", new { @required = "required", @class = "bg-dark text-white" })
                    </p>
                    <p>
                        <label style="font-size:10pt">Comment:</label><br />
                        @Html.HiddenFor(x => x.Subscription!.ExtensionSettings.ParameterValues[9].Name)
                        @Html.TextAreaFor(x => x.Subscription!.ExtensionSettings.ParameterValues[9].Value, new { @class = "bg-dark text-white" })
                    </p>
                    @Html.HiddenFor(x => x.Subscription.Id)
                </fieldset>
                }
                <br />
                <br />
                @*   <h5>PARAMETERS</h5>
            <div id="parameters">
            <fieldset name="parameterFields" disabled>
            //
            </fieldset>
            </div> *@
                <br />
                <br />
                <input type="submit" value="Save" style="width:10%" />
                <br />
                <br />
                <div style="font-size:8pt">
                    <br />
                    Created by @Model.Subscription?.Owner on @Convert.ToDateTime(@Model.Subscription?.ModifiedDate).ToShortDateString() at @Convert.ToDateTime(@Model.Subscription?.ModifiedDate).ToLongTimeString()
                    <br />
                    Changed by @Model.Subscription?.ModifiedBy on @Convert.ToDateTime(@Model.Subscription?.ModifiedDate).ToShortDateString() at @Convert.ToDateTime(@Model.Subscription?.ModifiedDate).ToLongTimeString()
                    <br />
                </div>
            </div>
        </section>
    </div>
}
