@page
@{
    Layout = null;
}
@using ExtRS.Portal.Areas.Identity.Account
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    body{
        background-color: #2f2f2f;
        font-family: Arial;
    }

    a{
        color: cyan
    }

    .loginDiv {
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        color:#ffffff;
    }

    .form-label{
        font-weight: bold;
        font-size: 18pt;
        color: #ffffff;
    }

    .form-control {
        font-weight: bold;
        font-size: 18pt;
/*         color: #ffffff !important;
        background-color: #000000 !important; */
    }

    .validation-summary-errors{
        font-weight: bold;
        color: red !important;
    }
</style>

<iframe src="https://ssrssrv.net/ReportServer/logon.aspx" style="display:none;"></iframe>
<div class="loginDiv">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <hr />
                <br /><br />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <table>
                        <tr>
                            <td><label asp-for="Input.Email" class="form-label">Email</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="Input.Password" class="form-label">Password</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" /></td>
                        </tr>
                </table>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <br/>
                <div>
                    <button id="login-submit" type="submit" style="font-weight:bold; font-size:16pt; height:45px; width:100px">LOGIN</button>
                </div>
                <br />
                <div>
                    <button id="login-submit3" asp-route-returnUrl="guestLogin" type="submit" style="font-weight:bold; font-size:16pt; height:45px; width:180px">GUEST LOGIN</button>
                </div>
                <br /><br />
                <div style="color:cyan">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>    
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <br /><br />
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    if (provider.Name == "Google")
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><img height="75" width="100" src="/images/google.jpg" /></button>
                                    }
                                    else if (provider.Name == "LinkedIn")
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><img height="75" width="80" src="/images/linkedin.webp" /></button>
                                    }                                 
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
