@model StatsView

<div class="container">
    <section>
        <div style="box-shadow: 5px 10px 8px #888888;">
            <fieldset name="serverInfo" disabled>
                <legend>
                    <label style="font-weight: bold">RSServer: @Model.SystemInfo.ReportServerAbsoluteUrl</label>
                </legend>
                <p><label><b>Product Name:</b> @Model.SystemInfo.ProductName</label></p>
                <p><label><b>Product Version:</b>  @Model.SystemInfo.ProductVersion</label></p>
                <p><label><b>Time Zone:</b> @Model.SystemInfo.TimeZone</label></p>
                <p><label><b>Product Type:</b> @Model.SystemInfo.ProductType</label></p>
            </fieldset>
        </div>
        <br /><br />
        <div style="box-shadow: 5px 10px 8px #888888;">
            <fieldset name="executionInfo" disabled>
                <legend>
                    <label style="font-weight: bold">Execution Info</label>
                </legend>
                <table>
                    <tr>
                        <td><b>UserName</b></td>
                        <td><b>Report</b></td>
                        <td><b>Execution Count</b></td>
                    </tr>
                    @foreach (var stat in Model.ReportExecutionStats)
                    {
                        <tr>
                            <td>@stat.UserName &nbsp;&nbsp;</td>
                            <td>@stat.Report &nbsp;&nbsp;</td>
                            <td>@stat.GeneratedNumber </td>
                        </tr>
                    }
                </table>
            </fieldset>
        </div>
    </section>
</div>
