@using ReportingServices.Api.Models
@model SnapshotHistoryView

<style>
    a.button {
        background: url(../Images/image.gif) no-repeat top left;
        display: block;
        width: 150px;
        height: 150px;
        text-indent: -9999px; /* hides the link text */
    }
</style>

<script>


    function confirmdeleteReportSnapshot(id, historyId, message) {
        $('<div id="deleteConfirm" style="padding: 10px; max-width: 500px; word-wrap: break-word;">Delete report snapshot?</div>').dialog({
            autoOpen: true,
            modal: false,
            title: 'Confirm',
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    deleteReportSnapshot(id, historyId, message);
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
    }

    function deleteReportSnapshot(id, historyId, message) {
        $.ajax({
            type: 'POST',
            url: '/Reports/DeleteReportSnapshotAjax',
            data: { "id": id, "historyId": historyId },
            beforeSend: function (e) {

            },
            success: function (response) {
                toastr.success(message);
                location.reload();
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (arg) {
                console.log(arg);
            }
        });
    }

</script>

<div class="container">
    <a onclick="snapshotToastr('@Model.ReportId', 'Snapshot created'); location.reload();">Create Snapshot</a><br />
    <section>
        @foreach (var snapshot in Model.HistorySnapshots)
        {
            <div class="bg-dark" style="box-shadow: 2.5px 5px 4px #888888;">
                <span id="@snapshot.Id" class="nav_link" style="float:right" onclick="confirmdeleteReportSnapshot('@Model.ReportId', '@snapshot.Id', 'Snapshot deleted');">
                    <a href="#">
                        x
                    </a>
                </span>
                <a href="@Url.Action("ReportSnapshot", "Reports", new { id = snapshot.Id, reportId = @Model.ReportId, creationDate = snapshot.CreationDate })" class="nav_link"><i class="bx bx-line-chart"></i><span class="nav_name">@snapshot.CreationDate</span></a>
            </div>
        }
    </section>
</div>
