@using ReportingServices.Api.Models
@using ExtRS.Portal.Controllers;
@model SnapshotHistoryView

<style>
    a.button {
        background: url(../Images/image.gif) no-repeat top left;
        display: block;
        width: 150px;
        height: 150px;
        text-indent: -9999px; /* hides the link text */
    }
</style>

<script>
    function createReportSnapshot(reportId, message) {
        $.ajax({
            type: 'POST',
            url: '/Reports/CreateReportSnapshotAjax',
            data: { reportId: '@Model.ReportId' },
            success: function (response) {
                toastr.success(message);
                $('#snapshots').html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (arg) {
                console.log(arg);
            }
        });
    }

    function confirmDeleteReportSnapshot(reportId, historyId, message) {
        $('<div id="deleteConfirm" style="padding: 10px">Delete report snapshot?</div>').dialog({
            autoOpen: true,
            modal: false,
            title: 'Confirm',
            center: false,
            buttons: {
                "OK": function () {
                    $(this).dialog("close");
                    deleteReportSnapshot(reportId, historyId, message);
                },
                "Cancel": function () {
                    $(this).dialog("close");
                }
            }
        });
    }

    function deleteReportSnapshot(reportId, historyId, message) {
        $.ajax({
            type: 'POST',
            url: '/Reports/DeleteReportSnapshotAjax',
            data: { "reportId": '@Model.ReportId', "historyId": historyId },
            beforeSend: function (e) {

            },
            success: function (response) {
                toastr.success(message);
                $('#snapshots').html(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (arg) {
                console.log(arg);
            }
        });
    }
</script>

<div class="container">
    <a href="#" onclick="createReportSnapshot('@Model.ReportId', 'Snapshot created');">Create Snapshot</a><br />
    <section id="snapshots">
        @{
            string html = ReportsController.GetSnapshotsHtml(Model.ReportId, @Model.HistorySnapshots);
            @Html.Raw(html);
        }
    </section>
</div>
