@model LayoutView
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>extRS</title>
    <style>
        body-box-shadow {
            box-shadow: 5px 10px 8px #888888
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hyperform/0.12.1/hyperform.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hyperform/0.12.1/hyperform.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju/jq-3.6.0/moment-2.18.1/dt-1.13.4/b-2.3.6/date-1.4.0/sl-1.6.2/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/keytable/2.9.0/css/keyTable.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/keytable/2.9.0/js/dataTables.keyTable.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/editor.jqueryui.min.css">
    <script type="text/javascript" charset="utf-8" src="~/js/dataTables.editor.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/js/editor.jqueryui.min.js"></script>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.6.2/css/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/datetime/1.4.0/css/dataTables.dateTime.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/editor.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/examples/resources/syntax/shCore.css">
    <link rel="stylesheet" type="text/css" href="~/examples/resources/demo.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.6.2/js/dataTables.select.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/datetime/1.4.0/js/dataTables.dateTime.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script type="text/javascript" language="javascript" src="~/js/dataTables.editor.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/examples/resources/syntax/shCore.js"></script>
    <script type="text/javascript" language="javascript" src="~/examples/resources/demo.js"></script>
    <script type="text/javascript" language="javascript" src="~/examples/resources/editor-demo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hyperform/0.12.1/hyperform.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hyperform/0.12.1/hyperform.min.css">
</head>
<header class="header" id="header">
    <style>
        @@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

        .toast-success {
            background-color: #51a351;
        }

        :root {
            --header-height: 5px;
            --nav-width: 68px;
            --first-color: #000223;
            --first-color-light: lightblue;
            --white-color: limegreen;
            --body-font: 'Nunito', sans-serif;
            --normal-font-size: 1rem;
            --z-fixed: 100;
        }

        html {
            background-color: #000223;
        }

        *, ::before, ::after {
            box-sizing: border-box
        }

        body {
            position: relative;
            margin: var(--header-height) 0 0 0;
            padding: 0 1rem;
            font-family: var(--body-font);
            font-size: var(--normal-font-size);
            background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
            -color: #background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
            color: #ffffff;
        }

        a {
            text-decoration: none
        }

        .header {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1rem;
            background-color: var(--first-color);
            z-index: var(--z-fixed);
        }

        .header_toggle {
            color: var(--first-color);
            font-size: 1.5rem;
            cursor: pointer
        }

        .header_img {
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            border-radius: 50%;
            overflow: hidden;
            margin-left: 7.5%;
            margin-bottom: 4%;
        }

        .l-navbar {
            position: fixed;
            top: 0;
            left: -30%;
            width: var(--nav-width);
            height: 100vh;
            background-color: var(--first-color);
            padding: .5rem 1rem 0 0;
            transition: .5s;
            z-index: var(--z-fixed)
        }

        .nav {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden
        }

        .nav_logo, .nav_link {
            display: grid;
            grid-template-columns: max-content max-content;
            align-items: center;
            column-gap: 1rem;
            padding: .5rem 0 .5rem 1.5rem;
            overflow: hidden;
        }

        .nav_logo {
            margin-bottom: 2rem
        }

        .nav_logo-icon {
            font-size: 1.25rem;
            color: var(--white-color)
        }

        .nav_logo-name {
            color: var(--white-color);
            font-weight: 700
        }

        .nav_link {
            position: relative;
            color: var(--first-color-light);
            margin-bottom: 1.5rem;
            transition: .3s
        }

            .nav_link:hover {
                color: var(--white-color);
                font-weight: bold;
            }

        .nav_icon {
            font-size: 1.25rem
        }

        .show {
            left: 0
        }

        .body-pd {
            padding-left: calc(var(--nav-width) + 1rem)
        }

        .active {
            color: var(--white-color)
        }

            .active::before {
                content: '';
                position: absolute;
                left: 0;
                width: 2px;
                height: 32px;
                background-color: var(--white-color)
            }

        .height-100 {
            height: 100vh
        }

        @@media screen and (min-width: 368px) {
            body {
                margin: calc(var(--header-height) + 1rem) 0 0 0;
                padding-left: calc(var(--nav-width) + 2rem)
            }

            .header {
                /*                height: calc(var(--header-height) + 1rem);
                                                        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)*/
            }

            .header_img {
                width: 40px;
                height: 40px
            }

                .header_img img {
                    width: 45px
                }

            .l-navbar {
                left: 0;
                padding: 1rem 1rem 0 0
            }

            .show {
                width: calc(var(--nav-width) + 156px)
            }

            .body-pd {
                padding-left: calc(var(--nav-width) + 188px)
            }

            .ui-dialog-titlebar-close {
                display: none;
            }

            .ui-dialog-titlebar {
                display: none;
            }
        }

    </style>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            const showNavbar = (toggleId, navId, bodyId, headerId) => {
                const toggle = document.getElementById(toggleId),
                    nav = document.getElementById(navId),
                    bodypd = document.getElementById(bodyId),
                    headerpd = document.getElementById(headerId)

                // Validate that all variables exist  ...//&& bodypd
                if (toggle && nav && headerpd) {
                    toggle.addEventListener('click', () => {
                        // show navbar
                        nav.classList.toggle('show')
                        // change icon
                        toggle.classList.toggle('bx-x')
                        // add padding to body TODO: check this next line
                        // bodypd.classList.toggle('body-pd')
                        // add padding to header
                        headerpd.classList.toggle('body-pd')
                    })
                }
            }

            showNavbar('header-toggle', 'nav-bar', 'body-pd', 'header');
            ///*===== LINK ACTIVE =====*/
            //const linkColor = document.querySelectorAll('.nav_link')

            //function colorLink(){
            //if(linkColor){
            //linkColor.forEach(l=> l.classList.remove('active'))
            //this.classList.add('active')}
            //}

            //linkColor.forEach(l=> l.addEventListener('click', colorLink))

            // Your code to run since DOM is loaded and ready
            // TODO: implement more dyn here

        });
    </script>
    <script>
        $(document).ready(function ($) {
            $("body").on("click", function () {
                $(".ui-dialog.clickoncloseoutside:visible")
                    .find(".ui-dialog-content")
                    .dialog("close");
            });
        });

        function asyncManageCatalogItemModal(id) {
            wireManageItemModal(id);
            let dialogId = "#dialog" + id;
            $(".ui-dialog-content").dialog("close");
            $.ajax({
                type: 'GET',
                url: '/CatalogItems/GetManageCatalogItemModal',
                data: { "id": id },
                success: function (response) {
                    $(dialogId).html(response);
                    $(dialogId).dialog('open');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (arg) {
                    console.log(arg);
                }
            });
        }

        function asyncManageSubscriptionModal(id) {
            wireSubscriptionModal(id);
            $("body").on("click", function () {
                $(".ui-dialog.clickoncloseoutside:visible")
                    .find(".ui-dialog-content")
                    .dialog("close");
            });
            let subscriptionDialog = "#subscriptionDialog" + id;
            $.ajax({
                type: 'GET',
                url: '/Subscriptions/GetManageSubscriptionModal',
                data: { "id": id },
                success: function (response) {
                    $(subscriptionDialog).html(response);
                    $(subscriptionDialog).dialog('open');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (arg) {
                    console.log(arg);
                }
            });
        }

        function wireSubscriptionModal(id) {
            let dialogId = "#subscriptionDialog" + id;
            $(dialogId).dialog({
                autoOpen: false,
                modal: false,
                hide: { effect: 'drop', duration: 200 },
                dialogClass: "clickoncloseoutside",
                position: { my: "right top", at: "left", of: "#" + id }
            });
        }

        function confirmDeleteSubscription(id, message) {
            $('<div id="deleteConfirm" style="padding: 10px">Delete subscription?</div>').dialog({
                autoOpen: true,
                modal: false,
                title: 'Confirm',
                center: false,
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        deleteSubscription(id, message);
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }

        function confirmCreateSubscription(id, message) {
            $('<div id="deleteConfirm" style="padding: 10px">Delete subscription?</div>').dialog({
                autoOpen: true,
                modal: false,
                title: 'Confirm',
                center: false,
                buttons: {
                    "OK": function () {
                        $(this).dialog("close");
                        deleteSubscription(id, message);
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }

        function createSubscription(reportId, message) {
            $.ajax({
                type: 'POST',
                url: '/Subscriptions/CreateSubscriptionAjax',
                data: { reportId: rptId },
                success: function (response) {
                    toastr.success(message);
                    $('#subscriptions').html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (arg) {
                    console.log(arg);
                }
            });
        }

        function deleteSubscription(id, message) {
            $.ajax({
                type: 'POST',
                url: '/Subscriptions/DeleteSubscriptionAjax',
                data: { "id": id },
                beforeSend: function (e) {

                },
                success: function (response) {
                    toastr.success(message);
                    $('#subscriptions').html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (arg) {
                    console.log(arg);
                }
            });
        }

        function wireManageItemModal(id) {
            let dialogId = "#dialog" + id;
            $(dialogId).dialog({
                autoOpen: false,
                modal: false,
                hide: { effect: 'drop', duration: 200 },
                dialogClass: "clickoncloseoutside",
                position: { my: "right top", at: "left", of: "#" + id }
            });
        }

        function snapshotToastr(id, message) {
            $.ajax({
                type: 'POST',
                url: '/Reports/CreateReportSnapshotAjax',
                data: { reportId: id },
                success: function (response) {
                    toastr.success(message);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (arg) {
                    console.log(arg);
                }
            });
        }

        function subscriptionToastr(id, message) {
            subject = "New report"; // TODO: make these fields modal inputs
            description = "This is a useful report.";
            $.ajax({
                type: 'POST',
                url: '/Subscriptions/CreateSubscriptionAjax',
                data: { id: id, email: "colin@sonrai.io", subject: subject, description: description },
                success: function (response) {
                    toastr.success(message);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (arg) {
                    console.log(arg);
                }
            });
        }
    </script>
</header>
<div class="breadcrumb">
    @Html.ActionLink(ViewContext.RouteData.Values["controller"]!.ToString()!.Replace("DataSources", "Data Sources"), ViewContext.RouteData.Values["controller"]!.ToString(), ViewContext.RouteData.Values["controller"]!.ToString())
@*     @if (ViewContext.RouteData.Values["action"]!.ToString() != ViewContext.RouteData.Values["controller"]!.ToString() && !ViewContext.RouteData.Values["action"]!.ToString().Contains("Delete"))
    {
        @:&nbsp;>&nbsp;@Html.ActionLink(ViewContext.RouteData.Values["action"]!.ToString(), ViewContext.RouteData.Values["action"]!.ToString(), ViewContext.RouteData.Values["controller"]!.ToString())
    } *@
</div>
<div class="l-navbar navbar-collapse" id="nav-bar">
    <nav class="nav">
        <div>
            <div class="header_toggle" style="margin-left:14%;"><i class='bx bx-menu' id="header-toggle" style="color:#ffffff"></i></div><br />
            <div class="nav_list">
                <div class="header_img"><a href="https://sonrai.io" target="_blank"><img src="https://avatars.githubusercontent.com/u/96353388?v=4" alt="" /></a></div>
                <a href="@Url.Action("Dashboard", "Dashboard")" class="nav_link @(Model == null ? "" : Model.CurrentTab == "Dashboard" ? "active" : "")"><i class='bx bx-tachometer nav_icon'></i><span class="nav_name">Dashboard</span></a>
                <a href="@Url.Action("DataSources", "DataSources")" class="nav_link @(Model == null ? "" : Model.CurrentTab == "DataSources" ? "active" : "")"><i class='bx bx-cube nav_icon'></i><span class="nav_name">Data Sources</span></a>
                <a href="@Url.Action("Datasets", "Datasets")" class="nav_link @(Model == null ? "" : Model.CurrentTab == "Datasets" ? "active" : "")"><i class='bx bx-table nav_icon'></i><span class="nav_name">Datasets</span></a>
                <a href="@Url.Action("Reports", "Reports")" class="nav_link @(Model == null ? "" : Model.CurrentTab == "Reports" ? "active" : "")"><i class='bx bx-line-chart nav_icon'></i> <span class="nav_name">Reports</span></a>
               @*  <a href="@Url.Action("Schedules", "Schedules")" class="nav_link @(Model == null ? "" : Model.CurrentTab == "Schedules" ? "active" : "")"> <i class='bx bx-time nav_icon'></i> <span class="nav_name">Schedules</span></a> *@
                <a href="@Url.Action("Subscriptions", "Subscriptions")" class="nav_link @(Model == null ? "" : Model.CurrentTab == "Subscriptions" ? "active" : "")"> <i class='bx bx-mail-send nav_icon'></i> <span class="nav_name">Subscriptions</span></a>
                <a href="@Url.Action("Stats", "Stats")" class="nav_link @(Model == null ? "" : Model.CurrentTab == "Stats" ? "active" : "")"><i class='bx bx-bar-chart-alt-2 nav_icon'></i><span class="nav_name">Stats</span></a>
                @* <a href="@Url.Action("Admin", "Admin")" class="nav_link @(Model == null ? "" : Model.CurrentTab == "Admin" ? "active" : "")"><i class='bx bx-shield nav_icon'></i><span class="nav_name">Admin</span></a> *@
                <br /> <br /> <br /> <br />
                <a href="@Url.Action("Settings", "Settings")" class="nav_link @(Model == null ? "" : Model.CurrentTab == "Settings" ? "active" : "")"><i class='bx bx-wrench nav_icon'></i><span class="nav_name">guest</span></a>
                <a href="#" class="nav_link"><i class='bx bx-log-out nav_icon'></i><span class="nav_name">Sign Out</span></a>
            </div>
        </div>
    </nav>
</div>
<div class="bg-dark">
    @* <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <!-- have a button POST a click via AJAX -->
    <button hx-post="/Report/Reports" hx-swap="outerHTML">
    Click Me
    </button>*@
    @RenderBody()
    <iframe src="https://tickertapes.net?embedded=true" style="width:100%; height:26%"></iframe>
    <p style="font-size:8pt; float:right">© sonrai @DateTime.Now.Year</p>
</div>
