@using ReportingServices.Api.Models
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@model CatalogItem

<div style="background-color:#ffffff; font-size:11pt">
    <span style="font-size:14pt; font-weight:bold">@Model.Name</span><br />
    <a href=@Url.Action("Open", "CatalogItems", new { id = @Model.Id }) target="_blank">Open</a><br />
    <a href=@Url.Action("Download", "CatalogItems", new { id = @Model.Id })>Download</a><br />
    <a href=@Url.Action("Move", "CatalogItems", new { id = @Model.Id }) style="pointer-events: none; color: gray">Move</a><br />
    @if (Model.Type == "Report")
    {
        <a onclick="snapshotToastr('@Model.Id', 'Snapshot created')">Create Snapshot</a><br />
        <a href=@Url.Action("SnapshotHistory", "Reports", new { id = @Model.Id })>Snapshot History</a><br />
        <a onclick="subscriptionToastr('@Model.Id', 'Subscription created')">Subscribe</a><br />
    }
    @if (@Configuration["ReportServerName"] == "localhost")
    {
        <a href=@Url.Action("Delete", "CatalogItems", new { id = @Model.Id })>Delete</a><br />
    }
    <a href=@Url.Action("Manage", "CatalogItems", new { id = @Model.Id }) style="pointer-events: none; color: gray" target="_blank">Manage</a><br /><br />
    <div style="font-size:7pt">
        Created by @Model.CreatedBy on @Convert.ToDateTime(@Model.CreatedDate).ToShortDateString() at @Convert.ToDateTime(@Model.CreatedDate).ToLongTimeString()<br />
        Changed by @Model.ModifiedBy on @Convert.ToDateTime(@Model.CreatedDate).ToShortDateString() at @Convert.ToDateTime(@Model.ModifiedDate).ToLongTimeString()<br />
    </div>
</div>
